.level-1 {
  h1 { font-size: 1.25rem;}
  h2 { font-size: 1.125rem; }
  h3, p, table:not(.not-table), .badge { font-size: 1rem; }
}

.level-2 {
  h1 { font-size: 1.7rem;}
  h2 { font-size: 1.4rem; }
  h3, p, table:not(.not-table), .badge { font-size: 1.2rem; }
}

.level-3 {
  h1 { font-size: 2rem;}
  h2 { font-size: 1.75rem; }
  h3, p, table:not(.not-table), .badge { font-size: 1.5rem; }
}

table.not-table {
  color: red;
}

